MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE_CATALOGOS=alflabcatalogos
MYSQL_DATABASE_OPERACIONES=alflaboperaciones

CATALOGOS_DB_PASSWORD=
JWT_SECRET=

OPERACIONES_DB_HOST=alflab-mysql-master
OPERACIONES_DB_PORT=3306
OPERACIONES_DB_USER=root
OPERACIONES_DB_PASSWORD=
OPERACIONES_DB_NAME=alflaboperaciones
OPERACIONES_DB_REPLICA_HOST=alflab-mysql-replica
OPERACIONES_DB_REPLICA_PORT=3306