[mysqld]
server-id                = 1
log_bin                  = mysql-bin
binlog_format            = ROW
binlog_do_db             = alflabcatalogos
binlog_do_db             = alflaboperaciones
expire_logs_days         = 7
max_binlog_size          = 100M